.page {
    align-items: center;
    width: 100%;
}

.page h2 {
    text-align: center;
    justify-content: center;
    color: #0e60f0;
    margin: .3rem auto;
}
.page .heading-text {
  text-align: center;
  justify-content: center;
  color: #f76809;
  margin: .5rem auto;
  font-size: 1.2rem;
}
.row {
    display: grid;
    justify-content: center;
    gap: .5rem;
  }
  
  .row > * {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin: .3rem;
  }
  
  .row .col .banner {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .row .col .desc {
    justify-content: center;
    text-align: justify;
    line-height: 1.8rem ;
    color: rgb(24, 24, 24);
    text-transform: capitalize;
    font-weight: 400;
  }


/* Services Card Layouts */ 
.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  gap: 10px;
  padding: 1rem .5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-row .card {
  justify-content: center;
  margin: 0.5rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow:
      2px 2px 4px #c7c7c7,
      -2px -2px 4px #c7c7c7;
}

.card h2 {
  color: rgb(20, 20, 20);
  text-align: center;
  margin: .5rem ;
  font-size: 18px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}
.card p {
  color: #464646;
  font-weight: 500;
  font-family: ghs;
  text-align: justify;
  margin: 0.5rem;
  text-transform: capitalize;
  word-spacing: 2px;
  line-height: 1.7rem;
}


  /* Desktop layout */
  .row {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  }
  
  /* Mobile layout */
  @media only screen and (max-width: 768px) {
    .row {
      grid-template-columns: 1fr;
    }
  }