.page {
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.page h2 {
    text-align: center;
    justify-content: center;
    color: #0e60f0;
    margin: 0.3rem auto;
}

.page .heading-text {
    text-align: center;
    justify-content: center;
    color: #070707;
    margin: 0.5rem auto;
    font-size: 1.2rem;
}

.page .short-desc {
    text-align: justify;
    justify-content: center;
    color: #1f1f1f;
    margin: 0.5rem 1.7rem;
    font-weight: 300;
    font-size: 1rem;
}

.row {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
}

.row>* {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin: 0.3rem;
}

.row .col .banner {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.row .col .desc {
    justify-content: center;
    text-align: justify;
    line-height: 1.8rem;
    color: rgb(24, 24, 24);
    text-transform: capitalize;
    font-weight: 400;
}

/* Services Card Layouts */
.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 12px;
    padding: 1rem 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-row .card {
    padding: .3rem;
    height: 100%;
    justify-content: center;
    margin: .7rem 0.5rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7;
}

.card h2 {
    color: rgb(20, 20, 20);
    text-align: center;
    margin: 0.5rem;
    font-size: 18px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.card p {
    color: #464646;
    font-weight: 500;
    font-family: ghs;
    text-align: justify;
    margin: 0.5rem;
    text-transform: capitalize;
    word-spacing: 2px;
    line-height: 1.7rem;
}

.main-page {
    margin-top: 5rem;
}

.view-service {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}
.view-service img  {
 width: 50%;
 height: 100%;
 object-fit: contain;
 margin: .2rem auto;
}
.page .long-desc {
    width: 93%;
    margin: .5rem auto;
    line-height: 2.2rem;
    text-transform: capitalize;
    font-weight: 300;
    color: #464646;
}
/* Desktop layout */
.row {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

/* Contact About Works Styling */ 

.two-row {
    display: flex;
    justify-content: space-around;
    margin: 1.8rem auto;
    padding: 0.5rem 0.7rem;
}

.two-row .image {
    padding: 0.5rem;
}

.two-row .image img {
    width: 100%;
    height: auto;
    object-fit: fill;
    margin: 1rem auto;
}

.two-row .form {
    background: #ffffff;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.7rem;
    border-radius: 8px;
}

.two-row #content {
    background: transparent;
}

.form .text {
    width: 100%;
    text-align: left;
    line-height: 2.5rem;
}

.form h3 {
    margin: 1rem auto;
}

.form .error {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #ea1800;
    color: #ea1800;
    background: #ea18003a;
    padding: 0.5rem 0.7rem;
}

.form .success {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 500;
    border: 0.1px solid #00a528;
    color: #00a528;
    background: #00a5283f;
    padding: 0.5rem 0.7rem;
}

.form input {
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.9rem auto;
    border-radius: 8px;
    width: 90%;
}

.form textarea {
    width: 90%;
    height: 90px;
    outline: none;
    border: 1px solid rgb(0, 197, 202);
    padding: 0.8rem 1rem;
    margin: 0.7rem auto;
    border-radius: 8px;
    font-family: Sans-Serif;
}

.form input:focus {
    border: 1px solid rgb(38, 192, 0);
}

.form .send-btn {
    width: 120px;
    outline: none;
    border: none;
    margin: 0.5rem auto;
    padding: 0.7rem 1rem;
    background: rgb(19, 97, 0);
    color: #ffffff;
    border-radius: 10px;
}

/*  WHY US DESIGNING */
.row-four {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 10px;
    margin: 1rem auto;
    padding: 1rem;
    /* background: rgb(239, 239, 239); */
}

.row-four .column {
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #0069a6;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.1px solid rgb(0, 207, 150);
    /* box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7; */
}

.column h4 {
    color: rgb(0, 226, 229);
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 0.2rem auto;
}

.column img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0.1rem auto;
}

.column .p-text {
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8rem;
    text-align: left;
    justify-content: left;
    text-transform: capitalize;
    margin: 0.2rem 0.5rem;
    font-family: poppin-thin;
}

.one-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one-flex h2 {
    color: #0e60f0;
    margin: .4rem auto;
}
.one-flex ul {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;

}

.one-flex .desc ,.desc {
    width: 80%;
    line-height: 2.2rem;
    text-transform: capitalize;
    margin: .5rem auto;
}
.one-flex .expert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expert .col {
    margin: .5rem auto;
}
.expert .col li {
    width: 100%;
    margin: .5rem;
    display: flex;
    align-items: center;
}
/* Mobile layout */
@media only screen and (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
   .page h2 {
    margin: .5rem .3rem;
   }
    .page .short-desc  {
        margin: .5rem .7rem;
    }
    main {
        margin-top: 3.2rem;
    }
    .page .long-desc, .one-flex .desc, .desc {
       width: 95%;
       margin: .4rem auto;
    }
    
     .two-row,.one-flex .expert  {
        flex-direction: column;
        margin: 0.5rem;
    }
    .one-flex .expert .col {
width: 100%;
    }
    .two-row .form {
        width: 100%;
        padding: 0.5rem;
    }

    .form input,
    .form textarea {
        width: 100%;
    }
    .row-four {
        margin-top: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}